* {
margin:0;
padding:0;
box-sizing:border-box;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background-color:gray;
}


.images{
	width:200px;
	height:100px; 
}
	
.nav ul li{
	display:inline-block;
	list-style-type:none;
	margin-left:20px;
	
}
.nav ul li a{
	text-decoration:none;
	color:black;
	font-size:20px;
	font-weight:bold;
}

.nav ul li a:hover{
	color:white;
}
* {
margin:0;
padding:0;
box-sizing:border-box;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background-color:gray;
}
.menu{
	display:flex;
justify-content:space-between;
align-items:center;
flex-direction:rows;
padding:20px;
background-color:gray;
}

.toggler, .burger{
	display:none;
}



.images{
	width: 100px;
	height:100px; 
}
	
.nav ul li{
	display:inline-block;
	list-style-type:none;
	margin-left:20px;
	
}
.nav ul li a{
	text-decoration:none;
	color:black;
	font-size:20px;
	font-weight:bold;
}	

.nav ul li a:hover{
	color:white;
}

@media screen and (max-width:600px) {
	.burger {
		display:block;
		font-size:30px;
		z-index:1;	
	}
	.menu {
		  justify-content:start;
		  flex-direction:column;
		  align-items:center;
		  position:fixed;
		  top:0;
		  right:-300px;
		  padding-top:60px;
		  transition:0.5s;
	  }
	 .menu li{
		 padding:20px;
	 }
	 .toggler:checked ~ .menu{
		 right:0;
		 
	 }
}
    .grid-container {
        display: grid;
        width: 100%;
        height: 550px;
		border:0px solid black;
		font-size: 20px;
        grid-template-columns: 1fr 1fr   ;
        grid-template-rows: 50px 100px 100px ;
        grid-template-areas:
		 "box1 box1"
		 "box2 box3"
		 "box4 box5 ";
}
.navbar {
  grid-area:box1;
  background-color:#fcf4d4;
  
}
.sidebar {
  grid-area:box2;
  background-color:#c6c3c2;
}
.main {
  grid-area:box3;
  background-color:#fbe269;
}
.sidebar2 {
  grid-area:box4;
  background-color:#D3D3D3;
}
.main2 {
  grid-area:box5;
  background-color:#fbdb46;
}


@media screen and (max-width:600px) {
    .grid-container {
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows:50px 100px 100px ;
  grid-template-areas:
		 "box1"
		 "box2"
		 "box3"
		 "box4"
		 "box5";
 }