*{
margin:0;
padding:0;
box-sizing:border-box;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}

.images{
	width:200px;
	height:100px; 
}
	
.nav ul li{
	display:inline-block;
	list-style-type:none;
	
}
